@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main CSS */

h1{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px #cfcfcf;
}

html, body, .flexbox {
    width: 100%;
    height: 100%;
}

body {
    color: #2f2f2f;
    font-family: Raleway, sans-serif;
    font-size: 16px;
}

/* Container CSS */

.flexbox {
    background-color: #3ba9d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chatbox CSS */

.chat-box {
    background-color: #fff;
    margin: 20px;
    width: 100%;
    height: 100%;
    max-height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.chat-box > .chat-box-header {
    width: 100%;
    padding: 20px 15px;
    border-bottom: solid 1px #cfcfcf;
    box-sizing: border-box;
    display: flex;
}

.chat-box > .chat-box-header img{
    margin-right: 1rem;
}

.chat-box > .chat-box-body {
    height: 100%;
    display: flex;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.chat-box > .chat-box-body #chat-messages {
    width: 100%;
    padding: 20px 15px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.chat-box > .chat-box-body #chat-messages .message {
    width: 80%;
    padding: 20px 15px;
    margin: 2px 0;
    overflow: hidden;
    border-radius: 13px;
    transition: height 0.3s ease-in-out;
}

.chat-box > .chat-box-body #chat-messages .message.hide {
    height: 0;
}

.chat-box > .chat-box-body #chat-messages .my-message {
    color: #fff;
    background-color: #006ae3;
    align-self: flex-end;
}

.chat-box > .chat-box-body #chat-messages .other-message {
    background-color: #e2e2e2;
}

.chat-box > .chat-box-body #chat-messages .profile:nth-child(even) {
    margin: 2px 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.chat-box > .chat-box-body #chat-messages .profile.hide {
    height: 0;
}

.chat-box > .chat-box-body #chat-messages .profile img {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-radius: 50%;
}

.chat-box > .chat-box-body #chat-messages .my-profile {
    color: #afafaf;
    align-self: flex-end;
}

.chat-box > .chat-box-body #chat-messages .other-profile {
    color: #afafaf;
}

.chat-box > #controls {
    width: 100%;
    padding: 20px 15px;
    border-top: solid 1px #cfcfcf;
    box-sizing: border-box;
    display: block;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#author, #content {
    width: 34em;
}

#submit {
    margin: 32px;
}
#submit, #refresh {
    padding: 8px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #006ae3;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px #c0c0c0;
}
#delete {
    padding: 8px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #8E1600;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px #c0c0c0;
}

#submit:hover, #refresh:hover, #delete:hover{
    border-color: #fff;
    box-shadow: none;
}

#error{
    color:red;
    margin-left: 1rem;
    font-size: 18px;
}

/* media */

@media (min-width: 480px) {
    .chat-box {
        width: 480px;
        height: 900px;
        padding-top: 0;
        margin-top: 0;
    }
}